<style>
  .introduction{
    margin-top: 250px;
  }
</style>


<section class="introduction">
  <div class="container">
    <div class="col-md-12">
      <h2 class="text-center">關於妮子</h2>
    </div>
  </div>
</section>