<style>
  .admin-new-carousel{
    margin-top: 120px;
    margin-bottom: 50px;
  }
</style>

<section class="admin-new-carousel">
  <div class="container">
    <div class="col-md-12">   
      <%= render partial:"form" %>
    </div>
  </div>
</section>
